flows/Create_Campaign_Member_Status.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>List_of_Campaign_Member_Status</name>
        <label>List of Campaign Member Status</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Status</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Invited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsMemberStatus_Exist_To_True</name>
        <label>Set IsMemberStatus Exist To True</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>IsMemberStatusExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_IsMemberStatus_Exist_To_True_0</name>
        <label>Set IsMemberStatus Exist To True</label>
        <locationX>1018</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>IsMemberStatusExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Campaign_Record_Type</name>
        <label>Check Campaign Record Type</label>
        <locationX>655</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Marketo_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Invite_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Event_Invite_List</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Campaign_Member_Status</targetReference>
            </connector>
            <label>Event Invite List</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created for CR-20210701-15265</description>
        <name>Check_Is_Existing_Member_Status_Value</name>
        <label>Check Is Existing Member Status Value</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Member_Status_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMemberStatusExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Invite_List_Member_RT</targetReference>
            </connector>
            <label>Is Member Status False</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created for CR-20210701-15265</description>
        <name>Check_Is_Existing_Member_Status_Value_0</name>
        <label>Check Is Existing Member Status Value</label>
        <locationX>930</locationX>
        <locationY>1247</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Member_Status_False_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsMemberStatusExist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Member_Status_Invited_0</targetReference>
            </connector>
            <label>Is Member Status False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Member_Status</name>
        <label>Check Member Status</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Member_Status_Exist</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invited</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_IsMemberStatus_Exist_To_True</targetReference>
            </connector>
            <label>Is Existing Member Status Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Member_Status_0</name>
        <label>Check Member Status</label>
        <locationX>1150</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Existing_Member_Status_Exist_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Registered</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0.Label</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0.Label</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0.Label</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0.Label</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0.Label</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_IsMemberStatus_Exist_To_True_0</targetReference>
            </connector>
            <label>Is Existing Member Status Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Marketo_Record_Type</name>
        <label>Marketo Record Type</label>
        <locationX>1128</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketo_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Marketo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Campaign_Member_Status_0</targetReference>
            </connector>
            <label>Marketo List</label>
        </rules>
    </decisions>
    <description>Create Campaign Member Status for Event Invite List Campaigns.
Revision log - 1.0 - (MRS 2.0 UAT Issue)- Update two new status Invited and Cancelled in Marketo Record type decision
                        1.1 -  (MRS 2.0 UAT Issue) - Removed Registration Requested status.
                        1.2 - (MRS 2.0 UAT Issue) - Changed status waitlist to waitlisted.
                        1.3 - Modified By - Chirag Soni - CR-20210701-15265 - Added Existing Member Status checks in flow to prevent field 
                                integrity exception when record cloned with related</description>
    <interviewLabel>Create Campaign Member Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Campaign Member Status</label>
    <loops>
        <name>Loop_to_Iterate_Over_Existing_Campaign_Member_Status</name>
        <label>Loop to Iterate Over Existing Campaign Member Status</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <collectionReference>ExistingCampaignMemberStatusList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Member_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Is_Existing_Member_Status_Value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0</name>
        <label>Loop to Iterate Over Existing Campaign Member Status</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <collectionReference>ExistingCampaignMemberStatusList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Member_Status_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Is_Existing_Member_Status_Value_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Attended</name>
        <label>Create Campaign Member Status - Attended</label>
        <locationX>798</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Cancelled</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Cancelled</name>
        <label>Create Campaign Member Status - Cancelled</label>
        <locationX>798</locationX>
        <locationY>1967</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Void</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Invited</name>
        <label>Create Campaign Member Status Invited</label>
        <locationX>50</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Registered</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Invited_0</name>
        <label>Create Campaign Member Status - Invited</label>
        <locationX>798</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Registered_For_Marketo</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_No_Show</name>
        <label>Create Campaign Member Status - No Show</label>
        <locationX>798</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Attended</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Registered</name>
        <label>Create Campaign Member Status Registered</label>
        <locationX>50</locationX>
        <locationY>1727</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Void_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Registered_For_Marketo</name>
        <label>Create Campaign Member Status - Registered</label>
        <locationX>798</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Waitlisted</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Void</name>
        <label>Create Campaign Member Status - Void</label>
        <locationX>798</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Delete_other_Campaign_Member_Status_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Void_0</name>
        <label>Create Campaign Member Status - Void</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>Delete_other_Campaign_Member_Status_0</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Void</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Waitlisted</name>
        <label>Create Campaign Member Status - Waitlisted</label>
        <locationX>798</locationX>
        <locationY>1607</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_No_Show</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Waitlisted</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_other_Campaign_Member_Status_0</name>
        <label>Delete other Campaign Member Status</label>
        <locationX>50</locationX>
        <locationY>1967</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_other_Campaign_Member_Status_0_0</name>
        <label>Delete other Campaign Member Status</label>
        <locationX>798</locationX>
        <locationY>2207</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Registration Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Waitlisted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No Show</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordLookups>
        <name>Event_Invite_List_Member_RT</name>
        <label>Event Invite List Member RT</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Member_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CampaignMember</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event_Invite_List_Member</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Created for CR-20210701-15265</description>
        <name>Get_Existing_Campaign_Member_Status</name>
        <label>Get Existing Campaign Member Status</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
        <outputReference>ExistingCampaignMemberStatusList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Created for CR-20210701-15265</description>
        <name>Get_Existing_Campaign_Member_Status_0</name>
        <label>Get Existing Campaign Member Status</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Iterate_Over_Existing_Campaign_Member_Status_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
        <outputReference>ExistingCampaignMemberStatusList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Label</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member_RecordType</name>
        <label>Update Campaign Member RecordType</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <connector>
            <targetReference>List_of_Campaign_Member_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CampaignMemberRecordTypeId</field>
            <value>
                <elementReference>Event_Invite_List_Member_RT.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <start>
        <locationX>529</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Campaign_Record_Type</targetReference>
        </connector>
        <object>Campaign</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ExistingCampaignMemberStatusList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMemberStatus</objectType>
    </variables>
    <variables>
        <description>Created for CR-20210701-15265</description>
        <name>IsMemberStatusExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
